poetry.lock
__pycache__/
.pytest_cache
src/__pycache__/
src/serve/__pycache__/
*.pyc
data/raw/data.json
data/raw/weather/data.json
data/preprocessed/data_air.csv
data/preprocessed/data_we.csv
data/processed/data.csv