<div style="padding: 20px; color: rgb(58, 58, 58)">
  <h1>Air Pollution Maribor</h1>

  <div style="display: flex; width: 100%">
    <div
      style="
        padding: 10px;
        margin-right: 20px;
        border-radius: 5px;
        background-color: rgb(243, 243, 243);
        width: 50%;
      "
    >
      <h3>Current weather</h3>
    </div>
    <div
      style="
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(243, 243, 243);
        width: 100%;
      "
    >
      <h3>Forecast</h3>
    </div>
  </div>
</div>
